@font-face {
    font-family: 'Premier Sans';
    src: url('/fonts/Premier_Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fpl-analytics-header{
    font-family: Premier Sans, sans-serif;
    font-size: 48px;
}


.player-details-text{
    font-family: Premier Sans, sans-serif;
    color: #28002b;
}