<!DOCTYPE html>
<html lang="en">
<html xmls:th="http://www.thymeleaf.org"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FPL Analytics</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

    <div class="bg-white text-gray-500 max-w-md w-full mx-4 md:p-8 p-6 text-left rounded-xl shadow-lg">

        <h1 class="text-3xl font-bold text-center text-gray-800 mb-2">
            FPL Analytics
        </h1>

        <p class="text-center text-gray-500 mb-8">
            Search for any Premier League player
        </p>

        <form action="/player" method="get">

            <label for="name" class="block mb-2 font-medium text-gray-700">
                Player Name
            </label>

            <input
                id="name"
                name="name"
                type="text"
                placeholder="e.g. Saka, Palmer, Haaland"
                class="w-full border border-gray-300 focus:border-indigo-500 outline-none rounded-lg py-3 px-4">

            <button
                type="submit"
                class="w-full mt-5 bg-indigo-600 hover:bg-indigo-700 active:scale-95 transition py-3 rounded-lg text-white font-medium">

                Search Player

            </button>

        </form>


    </div>

</body>
</html>